<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authentication</title>
</head>
<body>
<h3> Welcome to Sahad sathar website </h3>
{% for message in messages %}
<div class="alert">
<strong> Message : </strong> {{message}}
<button type="submit" class="close" data-dismiss="alert" aria-label="close">
    {% endfor %}
</button>
</div>
<div>
{% if user.is_authenticated %}
<h3> Hellooow {{ name }} </h3>
<h3> You're successfully logged in </h3>
{% else %}
<button type="submit"> <a href="/signout"> SIGNOUT </a> </button>
<button type="submit"> <a href="/signup"> SIGNUP </a> </button>
{% endif %}
    </div>
</body>
</html>